<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>cli</id>
  <fullName>cli</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>33ed8f60-44f4-4aad-b088-b8f80f1e9b91</uuid>
            <name>cli</name>
            <creationDate>2023-01-24 07:23:24.855 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>874e1a5b528925a2eb4714309c3bc4f99d0e0453ed6de19ae523381083ead11b</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1214.v1de940103927">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.4.1">
      <data class="concurrent-hash-map"/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.7">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.seed.UserSeedProperty>
      <seed>729808855cf4a75a</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.TimeZoneProperty/>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$DBw0mwdlerKrd1/OIEjuDujh5R8uGx3M9bSQfESICmc9B//z7OHSi</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@438.v02c7f0a_12fa_4">
      <emailAddress>cli@localhost</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1674544986366</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>