#!/usr/bin/bash

# https://manpages.debian.org/bullseye/direnv/direnv-stdlib.1.en.html

PATH_add bin
PATH_add tmp/python/bin
PATH_add packages/jehon/usr/bin

# Run in local environment
path_add PYTHONPATH tmp/python
path_add PYTHONPATH "jehon/usr/lib/python3/dist-packages"
path_add PYTHONPATH "tmp/var/lib/python/jehon"

# TODO: setup venv
