<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Test passwords: TEST_SECRET</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
echo &quot;${TEST_SECRET:0:1}&quot;
echo &quot;${TEST_SECRET:1:1}&quot;
echo &quot;${TEST_SECRET:2:1}&quot;
echo &quot;${TEST_SECRET:3:1}&quot;
echo &quot;${TEST_SECRET:4:1}&quot;
echo &quot;${TEST_SECRET:5:1}&quot;
[ &quot;${TEST_SECRET:0:1}&quot; = &quot;a&quot; ]</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper plugin="credentials-binding@523.vd859a_4b_122e6">
      <bindings>
        <org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
          <credentialsId>TEST_SECRET</credentialsId>
          <variable>TEST_SECRET</variable>
        </org.jenkinsci.plugins.credentialsbinding.impl.StringBinding>
      </bindings>
    </org.jenkinsci.plugins.credentialsbinding.impl.SecretBuildWrapper>
  </buildWrappers>
</project>