<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Clean up docker data</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>
set -o errexit
ROOT=&quot;$( dirname &quot;$( dirname &quot;$( pwd )&quot; )&quot; )&quot;
echo &quot;ROOT= $ROOT&quot;
cd &quot;$ROOT&quot; || exit 1
docker run --rm -v &quot;$(pwd):/app&quot; -w /app bash chmod -R a+rwX .
rm -fr &quot;$ROOT/workspace&quot;
mkdir -p &quot;$ROOT/workspace&quot;
mkdir -p &quot;$ROOT/workspace/clean_up&quot;

    </command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker system prune -f</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>