
# https://pyyaml.org/wiki/PyYAMLDocumentation
pyaml==24.12.1
types-PyYAML

# https://pypi.org/project/openpyxl/
openpyxl==3.1.5
openpyxl-stubs
# For getxmp
defusedxml==0.7.1

# https://pillow.readthedocs.io/en/stable/
pillow==11.0.0
types-Pillow

# https://pypi.org/project/PyExifTool/
PyExifTool==0.5.6

# https://pypi.org/project/termcolor/
termcolor==2.5.0

# https://textual.textualize.io/
textual==1.0.0
