
# https://pyyaml.org/wiki/PyYAMLDocumentation
pyaml==24.4.0
types-PyYAML

# https://pypi.org/project/openpyxl/
openpyxl==3.1.3
openpyxl-stubs
# For getxmp
defusedxml==0.7.1

# https://pillow.readthedocs.io/en/stable/
pillow==10.3.0
types-Pillow

# https://pypi.org/project/PyExifTool/
PyExifTool==0.5.6

# https://pypi.org/project/termcolor/
termcolor==2.4.0

# https://textual.textualize.io/
textual==0.65.2
