on:
  push:
    branches:
      - main
      - ci/*
  pull_request:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

env:
  TZ: Europe/Brussels

jobs:
  ga-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - test-unit
          - test-sources
          - test-cmd
          - test-system
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          check-latest: true
          cache: npm

      - run: ./setup.sh
        working-directory: bundles/file-organizer

      - run: make "${{ matrix.target }}"
        working-directory: bundles/file-organizer
